Repository OoTRandomizer/OoT-Randomizer, pull requests merged in 2022-06, with the labels that each got.

#1593 Scrubs Tournament Preset update and Weekly Preset update
  data/Hints/weekly.json
  data/presets_default.json
  version.py
Labels: Component: Presets

#1502 Add Invisible Chests option
  ASM/build/asm_symbols.txt
  ASM/c/chests.c
  ASM/c/chests.h
  ASM/src/chests.asm
  ASM/src/hacks.asm
  ASM/src/macros.asm
  Patches.py
  README.md
  SettingsList.py
  data/generated/rom_patch.txt
  data/generated/symbols.json
  data/settings_mapping.json
  version.py
Labels: Component: ASM/C, Component: Setting

#1600 Minor cleanup
  ASM/c/chests.c
  ASM/c/dpad.h
  ASM/src/macros.asm
  EntranceShuffle.py
  Hints.py
  Notes/extra-save-data.md
  Settings.py
  SettingsList.py
  data/World/Forest Temple.json
  version.py
Labels: trivial, Component: Misc
