Repository OoTRandomizer/OoT-Randomizer, pull requests merged in 2023-11, with the labels that each got.

#2086 Co-op season 3
  Hints.py
  data/Hints/coop.json
  data/Hints/coop2.json
  data/presets_default.json
Labels: Component: Presets

#2139 Get Rid of `settings.settings_dict.update` Usages
  Cosmetics.py
  GUI/src/app/providers/GUIGlobal.ts
  Plandomizer.py
  Settings.py
Labels: bug, Component: Randomizer Core

#2140 Fix Epona spawn with Shuffle Individual Ocarina Notes - Again
  ASM/build/asm_symbols.txt
  ASM/build/bundle.o
  ASM/c/ocarina_buttons.c
  ASM/src/config.asm
  Patches.py
  data/generated/rom_patch.txt
  data/generated/symbols.json
Labels: bug, Component: ASM/C
