Repository OoTRandomizer/OoT-Randomizer, pull requests merged in 2023-04, with the labels that each got.

#1917 Remove scarecrow spawn cutscene
  ASM/src/hacks.asm
  data/generated/rom_patch.txt
Labels: Component: ASM/C

#1918 Remove water temple entrance cutscene
  ASM/src/hacks.asm
  data/generated/rom_patch.txt
Labels: Component: ASM/C

#1919 Remove Wastelands gate cutscene
  ASM/src/hacks.asm
  data/generated/rom_patch.txt
Labels: Component: ASM/C

#1924 Remove Forest Temple Red/Blue Poe painting hit cutscene
  ASM/src/hacks.asm
  data/generated/rom_patch.txt
Labels: Component: ASM/C

#1926 Remove Biggoron eyedrops cutscene
  ASM/src/hacks.asm
  data/generated/rom_patch.txt
Labels: Component: ASM/C

#1927 Speedup Skull Mask
  ASM/src/hacks.asm
  data/generated/rom_patch.txt
Labels: Component: ASM/C

#1930 Misc hint for Expensive Merchants and Bean Salesman
  Patches.py
  SettingsList.py
Labels: Component: Setting, Component: Hints

#1932 Fix various child trade quest bugs
  ASM/build/asm_symbols.txt
  ASM/build/bundle.o
  ASM/build/c_symbols.txt
  ASM/c/get_items.c
  ASM/c/trade_quests.h
  ASM/src/trade_quests.asm
  Patches.py
  data/generated/rom_patch.txt
  data/generated/symbols.json
Labels: bug, Component: ASM/C, Component: Setting

#1948 Fix blue potion shuffle conflict with shopsanity
  ASM/src/potion_shop.asm
  data/generated/rom_patch.txt
Labels: bug, Component: ASM/C

#1949 Set flags with skip child zelda off and Zelda's Letter as a starting item
  Patches.py
Labels: bug

#1953 Integrate Owls saying where they fly to in the Warp Songs Misc. Hint
  Messages.py
  Patches.py
  SettingsList.py
  data/presets_default.json
Labels: enhancement, Component: Setting, Component: Hints

#1959 Fix conflict between Scrub Shuffle and Mask Shop
  ASM/build/bundle.o
  ASM/c/trade_quests.c
  Notes/extra-save-data.md
  Notes/trade_quest_rework.txt
  Patches.py
  SaveContext.py
  data/generated/rom_patch.txt
Labels: bug, Component: ASM/C

#1960 Fix adult trade shuffle logic
  data/World/Overworld.json
Labels: bug, Component: Logic
